@import '~bootstrap/scss/bootstrap';

$alt-color: $gray-200;
$body-bg-color: $gray-200;
$font-color: $light;

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: $body-bg-color;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  height: 60%;
  width: 60%;
}

.alt-color {
  background: rgba(0, 0, 0, 0);
}

.authentication {
  position: absolute;
  top: 50%;
  left: 32%;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  height: 100%;
  max-height: calc(75vh - 75px);
  margin: auto;
  max-width: calc(75vh - 75px);
}

.board-hide {
  display: none;
}

.box {
  align-items: center;
  background: rgba(0, 0, 0, 0);
  color: $font-color;
  display: flex;
  justify-content: center;
  max-height: initial;
  max-width: initial;
  resize: none;
  min-height: calc(100% / 3);
}

.cells {
  height: 80vh;
}

.center {
  border: solid black;
}

.game-board {
  margin: 0;
  padding: 0;
  width: 100vw;
  position: absolute;
  top: 18%;
}

.header {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 20%;
  img {
    animation: shake 1s;
    animation-iteration-count: infinite;
    height: 120px;
    width: 90px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.initial-hide {
  display: none;
}

.intro-container {
  border: 0;
  margin: 0;
}

.kitten {
  width: 153px;
  height: 128px;
  object-fit: cover;
  border: 0px;
  object-position: 0px -3px;
  margin-right: 0px;
}

.left-right {
  border-left: solid black;
  border-right: solid black;
}

.logo {
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
  font-size: 6.5rem;
  color: #ebbc71;
  display: flex;
  justify-content: center;
}

.puppy {
  width: 74px;
  height: 150px;
  object-fit: cover;
  border: 0px;
  object-position: -36px -21px;
  margin-right: -8px;
}

.signout-newgame {
  position: absolute;
  top: 95%;
  left: 45.5%;
}

.tie {
  width: 153px;
  height: 128px;
  object-fit: cover;
  border: 0px;
  object-position: 0px -3px;
  margin-right: 0px;
}

.top-bottom {
  border-top: solid black;
  border-bottom: solid black;
}

#messaging {
  position: absolute;
  top: 50%;
  left: 43%;
}

#victory {
  position: absolute;
  top: 0%;
  left: 0%;
}

#player-turn {
  position: absolute;
  left: 8%;
  top: 50%;
}



@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes fadeInAndOut {
  0% {opacity: 0;}
  50% {opacity: 1;}
  70% {opacity: .5;}
  100% {opacity: 0;}
}

@keyframes slideUp {
  0% {
    top: 30%;
  }
  100% {
    top: 1%;
  }
}

@keyframes slideDown {
  0% {
    top: 1%;
  }
  100% {
    top: 30%;
  }
}

@keyframes spinIn {
  from {
    width: 0%;
    height: 0%;
    opacity: 0;
    transform: rotate(0deg);
  }

  to {
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: rotate(360deg);
  }
}

@keyframes spinOut {
  from {
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: rotate(0deg);
  }

  to {
    width: 0%;
    height: 0%;
    opacity: 0;
    transform: rotate(360deg);
  }
}
