@import '~bootstrap/scss/bootstrap';

$alt-color: $gray-200;
$body-bg-color: $gray-200;
$font-color: $light;

body {
  background-color: $body-bg-color;
  text-align: center;
}

h1 {
  display: flex;
  justify-content: center;
}

img {
  height: 60%;
  width: 60%;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  // height: 100vh;
  max-height: calc(100vh - 75px);
  margin: auto;
  max-width: calc(100vh - 75px);
}

.box {
  align-items: center;
  background-color: $secondary;
  color: $font-color;
  display: flex;
  justify-content: center;
  max-height: initial;
  max-width: initial;
  resize: none;
  min-height: calc(100% / 3);
}

.top-bottom {
  border-top: solid black;
  border-bottom: solid black;
}

.left-right {
  border-left: solid black;
  border-right: solid black;
}

.center {
  border: solid black;
}

.alt-color {
  background-color: $alt-color;
}

.initial-hide {
  display: none;
}

.board-hide {
  display: none;
}

// .intro-container {
//   position: absolute;
// }

.cells {
  height: 80vh;
}
